.hero-section {
    height: 100vh;
    padding: 130px 0 93px;
    background-image: url(../images/header-back\ img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100%;
}
.hero {
    @include display($items:none,$space:space-between,$gap:opx)
}
.hero__form {
    width: 449px;
    padding: 25px;
    border-radius: 10px;
    background: $--header-back-clr;
}
.form__title {
    @include textStyle($FW:700,$FS:30px,$LH:36.31px,$CASE:capitalize,$MB:8px,$CLR:$--text-clr);
    display: inline-block;
}
.form__text {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 20px;
    @include textStyle($FW:400,$FS:16px,$LH:19.36px,$CASE:none,$MB:25px,$CLR:$--text-clr);
}
.form__label {
    display: flex;
    flex-direction: column;
}
.form__label + .form__label{
    margin-top: 15px;
}
.form__label-content {
    @include textStyle($FW:400,$FS:15px,$LH:18.15px,$CASE:capitalize,$MB:8px,$CLR:$--text-clr);
}
.form__label:last-child > .form__label-input{
    background-image: url(../images/time-img.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 14px center;
}
.form__label-input {
    padding: 16px 0 16px 49.6px;
    border-radius: 12px;
    outline: none;
    border: none;
    @include textStyle($FW:400,$FS:16px,$LH:19.36px,$CASE:none,$MB:0,$CLR:black);
    background-image: url(../images/location_img.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 14px center;
    &::placeholder{
        color:#00000061;
    }
}
.form__custom-wrapper{
    margin-top: 15px;
    flex-direction: column;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 20px;
}
.form__custom-wrap {
    margin-top: 8px;
    @include display($items:center,$space:start,$gap:12px);
}
.form__radio-label {
    width: 49%;
    padding: 15px;
    background-color: white;
    border-radius: 12px;
    @include display($items:center,$space:start,$gap:12px)
}
.vissuall-hidden ~ .type {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #D3D3D3;
}
.form__custom-radio {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #D3D3D3;
}
.radio-input:checked ~ .form__custom-radio{
    background-color: orchid;
}
.form__btn{
    width: 100%;
    margin-top: 20px;
    padding: 17.5px 0;
    text-align: center;
    border-radius: 8px;
    border:none;
    background: $--text-hover;
    @include textStyle($FW:500,$FS:17px,$LH:20.57px,$CASE:none,$MB:0,$CLR:$--text-clr);
    transition: 0.3s all;
}
.form__btn:hover{
    background: $--text-clr;
    color: $--text-hover;
    cursor: pointer;
}
.hero__wrapper-content {
    width: 576px;
    margin-top: 43px;
}
.hero__wrapper-text {
    padding-left: 34px;
    position: relative;
    @include textStyle($FW:500,$FS:14px,$LH:16.94px,$CASE:uppercase,$MB:11px,$CLR:$--text-clr);
        &::before{
            position: absolute;
            background-image: url(../../images/Vector-icon.svg);
            background-size: 24px 24px;
            background-repeat: no-repeat;
            background-position: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto 0;
        }
}
.hero__wrapper-title {
    @include textStyle($FW:700,$FS:56px,$LH:67.77px,$CASE:capitalize,$MB:20px,$CLR:$--text-clr);
}
.hero__wrapper-subtext {
    @include textStyle($FW:400,$FS:20px,$LH:24.2px,$CASE:capitalize,$MB:0px,$CLR:$--text-clr);
}